/* Apply a more visually appealing and consistent design to your website */

/* Body and Typography */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #ffc800;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

/* Header and Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff707;
    border-radius: 10px;
    color: #fff;
    width: 100vw;
}

.nav-item {
    color: #fff;
}

.nav-item-left {
    text-align: center;
    padding: 0 10px;
    color: black;
}

.nav-item-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    height: 80px;
    padding: 0 30px;
    font-size: 20px;
}

.nav-item-right a {
    text-decoration: none;
    color: black;
}
#audios,
#videos {
    text-align: center;
}
/* Videos and Audios Styling */
#video1,
#video2,
#video3,
#video4,
#video5,
#video6,
#audio {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    width: 32.568vw;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: blue;
}

.footer-item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer-item2 a {
    text-decoration: underline;
}

/* Hover Effect for Links */
.nav-item-right a:hover {
    color: blue;
}
